<div class="flex justify-center items-center">
    <div class="flex flex-col items-center gap-3 hover:bg-gray-200 rounded-lg py-3 w-28 cursor-pointer transition-all"
        (click)="this.commonService.showModal('modal' + label)">
        <iconify-icon [icon]="iconClass" class="text-[2.75rem] text-gray-700"></iconify-icon>
        <div class="text-sm font-medium">{{ label }}</div>
    </div>
</div>


<!-- MODAL -->
<dialog [id]="'modal' + label" class="dui-modal">
    <div class="dui-modal-box w-fit max-w-5xl text-gray-800 bg-white dark:bg-secondary-dark-bg">
        <h4 class="m-0 mb-4 text-lg font-semibold text-gray-800 tracking-wider">
            Mon expérience avec {{label}}
        </h4>
        <!-- <form method="dialog">
            <button class="dui-btn dui-btn-sm dui-btn-circle dui-btn-ghost absolute right-2 top-2 outline-none">✕</button>
        </form> -->
        <p>{{ description }}</p>
    </div>
    <form method="dialog" class="dui-modal-backdrop">
        <button class="outline-none border-none bg-transparent"></button>
    </form>
</dialog>