<a class="group relative overflow-hidden rounded-xl transition-all w-full h-full select-none"
    [href]="link" target="_blank">
    <div class="sm:h-72 h-60 overflow-hidden md:w-[29rem] max-w-[29rem] w-[90vw]">
        <img [src]="imgPath" [alt]="name"
            class="w-full h-full object-cover object-center transition-all group-hover:brightness-75 rounded-xl" />
    </div>
    <div
        class="absolute inset-0 flex flex-col justify-end bg-gradient-to-t from-gray-900/80 to-transparent p-4 text-white transition-all group-hover:bg-transparent rounded-xl">
        <h3 class="text-xl font-bold">{{ name }}</h3>
        <p class="text-gray-300">{{ description }}</p>
    </div>
</a>