<div class="flex justify-center space-x-12 md:hidden">
    <!-- Bouton pour aller à la page précédente -->
    <div (click)="onNavigateLeft()" [ngClass]="{
             'text-gray-700': resourceType !== 'certifs' && elementsConfig[resourceType].currentPage > 0,
             'text-gray-300': resourceType !== 'certifs' && elementsConfig[resourceType].currentPage === 0,
             'text-gray-100': resourceType === 'certifs' && elementsConfig[resourceType].currentPage > 0,
             'text-gray-600': resourceType === 'certifs' && elementsConfig[resourceType].currentPage === 0
         }" class="rounded-full z-10 transition-all">
        <app-svg-page-navigation-button></app-svg-page-navigation-button>
    </div>

    <!-- Bouton pour aller à la page suivante -->
    <div (click)="onNavigateRight()" [ngClass]="{
             'text-gray-700': resourceType !== 'certifs' && (elementsConfig[resourceType].currentPage + 1) * elementsConfig[resourceType].itemsPerPage < elementsConfig[resourceType].items.length,
             'text-gray-300': resourceType !== 'certifs' && (elementsConfig[resourceType].currentPage + 1) * elementsConfig[resourceType].itemsPerPage >= elementsConfig[resourceType].items.length,
             'text-gray-100': resourceType === 'certifs' && (elementsConfig[resourceType].currentPage + 1) * elementsConfig[resourceType].itemsPerPage < elementsConfig[resourceType].items.length,
             'text-gray-600': resourceType === 'certifs' && (elementsConfig[resourceType].currentPage + 1) * elementsConfig[resourceType].itemsPerPage >= elementsConfig[resourceType].items.length
         }" class="rounded-full z-10 transition-all">
        <app-svg-page-navigation-button buttonDirection="right"></app-svg-page-navigation-button>
    </div>
</div>